[Unit]
Description=NSQAdmin
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=60
ExecStartPre=-/usr/bin/docker kill nsqadmin-%i
ExecStartPre=-/usr/bin/docker rm nsqadmin-%i
ExecStartPre=/usr/bin/docker pull dockerfile/nsq
ExecStart=/usr/bin/docker run --name nsqadmin-%i dockerfile/nsq nsqadmin
ExecStop=/usr/bin/docker stop nsqadmin-%i

[X-Fleet]
Conflicts=nsqlookupd@*.service
