bind=all
log-file=/var/log/rethinkdb.log
directory=/var/rethinkdb_data
http-port=8080
cluster-port=29015
driver-port=28015

{{if ls "/services/rethinkdb"}}
    {{range gets "/services/rethinkdb/*"}}
        {{$data := json .Value}}
        {{if ne $data.host $local_node}}
            join={{$data.host}}:{{$data.cluster}}
        {{end}}
    {{end}}
{{end}}
