[Unit]
Description=IRCDistributedDaemon
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=5
ExecStartPre=-/usr/bin/docker kill ircdd-%i
ExecStartPre=-/usr/bin/docker rm ircdd-%i
ExecStartPre=/usr/bin/docker build -t ircdd-dev /home/core/ircdd/scripts/dev-config
ExecStart=/usr/bin/docker run -v /home/core/ircdd:/data -p 2375:2375 --name ircdd-%i ircdd-dev bash -c "python setup.py install && twistd -n ircdd -P 2375"
ExecStop=/usr/bin/docker stop ircdd-%i

[X-Fleet]
Conflicts=ircdd@*.service