[Unit]
Description=NSQDaemon
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=5
ExecStartPre=-/usr/bin/docker kill nsqd
ExecStartPre=-/usr/bin/docker rm nsqd
ExecStart=/usr/bin/docker run --name nsqd -p 4150:4150 -p 4151:4151 --link nsqlookupd:nsqlookupd dockerfile/nsq nsqd --data-path /data --lookupd-tcp-address nsqlookupd:4160
ExecStop=/usr/bin/docker stop nsqd

[X-Fleet]
Global=true
