[Unit]
Description=NSQLookupDaemon
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=60
ExecStartPre=-/usr/bin/docker kill nsqlookupd-%i
ExecStartPre=-/usr/bin/docker rm nsqlookupd-%i
ExecStart=/usr/bin/docker run --name nsqlookupd-%i -p 4160:4160 -p 4161:4161 dockerfile/nsq nsqlookupd
ExecStop=/usr/bin/docker stop nsqlookupd-%i

[X-Fleet]
Conflicts=nsqlookupd@*.service
