[Unit]
Description=RethinkDB registration service

Requires=etcd.service
Requires=rethinkdb@%i.service

After=etcd.service
After=rethinkdb@%i.service

BindsTo=rethinkdb@%i.service

[Service]
EnvironmentFile=/etc/environment

ExecStart=/bin/bash -c '\
    while true; do \
        curl -f ${COREOS_PRIVATE_IPV4}:8080; \
        if [ $? -eq 0 ]; then \
            etcdctl set /services/rethinkdb/${COREOS_PRIVATE_IPV4} \'${COREOS_PRIVATE_IPV4}:29015\' --ttl 30; \
        else \
            etcdctl rm /services/rethinkdb/${COREOS_PRIVATE_IPV4}; \
        fi; \
        sleep 20; \
    done'

ExecStop=/usr/bin/etcdctl rm /services/rethinkdb/${COREOS_PRIVATE_IPV4}

[X-Fleet]
MachineOf=rethinkdb@%i.service
