[Unit]
Description=RethinkDB registration service

Requires=etcd.service
Requires=rethinkdb@%i.service

After=etcd.service
After=rethinkdb@%i.service

BindsTo=rethinkdb@%i.service

[Service]
EnvironmentFile=/etc/environment

ExecStart=/home/core/rethinkdb-registration-loop.sh
ExecStop=/usr/bin/etcdctl rm /services/rethinkdb/${COREOS_PRIVATE_IPV4}

[X-Fleet]
MachineOf=rethinkdb@%i.service
