bind=all
log-file=/var/log/rethinkdb.log
directory=/var/rethinkdb_data

{{range ls "/services/rethinkdb"}}
    {{$data := json .Value}}
    {{if ne $data.host $local_node}}
join={{$data.host}}:{{$data.cluster}}
    {{end}}
{{end}}
