[Unit]
Description=RethinkDB

Requires=docker.service
Requires=etcd.service
Requires=rethinkdb-discovery@.service

After=docker.service
Requires=etcd.service

Before=rethinkdb-discovery@.service

[Service]
TimeoutStartSec=0

EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker kill rethinkdb-%i
ExecStartPre=-/usr/bin/docker rm rethinkdb-%i
ExecStartPre=/usr/bin/docker pull dockerfile/rethinkdb
ExecStartPre=/usr/bin/docker build -t rethinkdb /home/core/ircdd/scripts/rethinkdb-confd

ExecStart=/usr/bin/docker run \
                          -e HOST_IP=${COREOS_PUBLIC_IPV4} \
                          -e LOCAL_NODE=${COREOS_PUBLIC_IPV4} \
                          --name rethinkdb-%i \
                          -p 8080:8080 -p 28015:28015 -p 29015:29015 \
                          rethinkdb confd-watch-rethinkdb

ExecStop=/usr/bin/docker stop rethinkdb-%i

[X-Fleet]
Conflicts=rethinkdb@*.service
